

<form>
<div class="container">
<h3>Select Area please</h3>
<select [(ngModel)]="selectedLevel1"  name="pranav" >
  <option *ngFor="let item of data"  [value]="item.name " > {{item.name}}</option>

 
 
</select>

<!-- <button class="btn-btn-primary"  (click)="taking(inputval)"> select </button> -->
<p>you have selected</p> 
<br>
<h3>  you entered here becoz u selected this dude free shows........{{selectedLevel1}}</h3>
</div>
<br>
  
  <!-- <h3 *ngIf=true>u entered here becoz u have selected movies</h3> -->
  <!-- <h3 *ngIf=true>u entered here becoz u have selected movies</h3> -->


</form>